@{ 
    Layout = "_Layout";
}
@{
    string greeting = "Welcome to Async Inn!";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Async Inn</title>
    <link rel="stylesheet" href="~/Styles/Reset.css" />
    <link rel="stylesheet" href="~/Styles/StyleSheet.css" />

</head>
<body>
    <h1>@greeting</h1>

    <div id="nav">
        <input type="submit" value="Create" />
    </div>

</body>
</html>