@{ 
    Layout = "_Layout";
}
@{
    string greeting = "Welcome to Async Inn!";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Async Inn</title>


</head>
<body>
    <h1>@greeting</h1>

    <div id="nav">

        <ul>
            @*<li><a href="/">Home Page</a></li>*@
            <li><a href="/Hotels">Add a New Hotel</a></li>
            <li><a href="/Rooms">Add a New Room</a></li>
            <li><a href="/Amenities">Add a New Amenity</a></li>
            <li><a href="/RoomAmenities">Add a New Room Amenity</a></li>
            <li><a href="/HotelRooms">Add a New Hotel Room</a></li>

        </ul>
    </div>

</body>
</html>